/* General app styling */
.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
  }
  
  /* Light theme styling */
  .light-theme {
    background-color: #fff;
    color: #000;
  }
  
  /* Dark theme styling */
  .dark-theme {
    background-color: #333;
    color: #fff;
  }
  
  .theme-toggle-button {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
  }

  